HostInfoServiceApp/ServiceClient/Connected Services/ServiceReference1/HostInfoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HostInfoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HostInfoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HostInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OsVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostInfo" nillable="true" type="tns:HostInfo" />
</xs:schema>